version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'daily'
    ignore:
      - dependency-name: '@types/node'
        update-types: ['version-update:semver-major']
    groups:
      eslint:
        patterns:
          - '@eslint/js'
          - 'eslint'
      npm-dev:
        dependency-type: 'development'
        patterns:
          - '*'
        update-types:
          - 'minor'
          - 'patch'
    cooldown:
      default-days: 7
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'daily'
    cooldown:
      default-days: 7
