# Hidden files and folders
.*
!.eslintignore
!.eslintrc.json
!.gitattributes
!.github
!.gitignore
!.npmrc
!.prettierignore
!.prettierrc.json

# Dependency directory
node_modules

# Ignore built ts files
__tests__/runner/*
lib/**/*

# Jest
coverage
