# Hidden files and folders
.*
!.gitattributes
!.github
!.gitignore
!.npmrc
!.prettierignore
!.prettierrc.json
!.tool-versions
!.vscode

# Dependency directory
node_modules

# Ignore built ts files
__tests__/runner/*
lib/**/*

# Jest
coverage
