name: 'build-test'

on:
  pull_request_target:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clone git repository
        uses: actions/checkout@v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
      - name: Set up Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version-file: '.tool-versions'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Lint, build and test application
        run: npm run all
  test:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    steps:
      - name: Clone git repository
        uses: actions/checkout@v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
      - name: Run action locally
        uses: ./
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          pattern: .*example
          trustedAuthors: xalvarez
          allowNewFiles: false
