name: 'build-test'
on:
  pull_request:
    branches:
      - main
  pull_request_target:
    branches:
      - main

permissions:
  pull-requests: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clone git repository
        uses: actions/checkout@v4.2.2
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
      - name: Set up Node.js
        uses: actions/setup-node@v4.2.0
        with:
          node-version: '20'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Lint, build and test application
        run: npm run all
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Clone git repository
        uses: actions/checkout@v4.2.2
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
      - name: Run action locally
        uses: ./
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          pattern: .*example
          trustedAuthors: xalvarez
          allowNewFiles: false
